.vastChallenges{
  background-color: #728683;
  color: white;
}

.infoVis{
  background-color: #4B8A81;
  color: white;
}

.other{
  background-color: #7CAFA8;
  color: white;
}

.benchmarkTitle{
  font-weight: bold;
}
